body {
    padding: 50px;
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

table {
    table-layout: fixed;
    width: 900px;
    margin: 0 auto;
    padding: 0;
    border: 1px solid #dfdfdf;
}
table thead {
    background: #ccc;
}

table td,
table th {
    margin: 0;
    padding: 0;
    text-align: center;
    height: 46px;
    vertical-align: middle;
    border-bottom: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
}
table tr td:last-child,
table tr th:last-child {
    border-right: none;
}
table tr:last-child td {
    border-bottom: none;
}
